@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  
}

#root {

}

// Scrollbar Styling
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $primary-purple;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-indigo;
}