@import './styles/variables';


.app {
  min-height: 100vh;
  max-width: auto;
  
  
.app__container {
  width: 100%;         // full width
  max-width: none;   // optional max-width
  padding: 0;          // remove extra padding on all sides
  margin: 0 auto;      // center horizontally
}
  
  &__main {
    padding: 0;
    margin: 0;
  }
  
  &__grid {
    display: grid;
    grid-template-columns: 600px 1fr 1fr;
    gap: $spacing-xl;
 
  }
  
  &__section {
    display: flex;
    flex-direction: column;
  }
}